<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>模糊</title>
  <style>
    html {
      background-color:burlywood;
    }
    canvas {
      display: block;
      margin: 40px auto 10px;
    }
    .control {
      width: 1000px;
      margin: 40px auto;
      display: flex;
    }
    button {
      margin-right: 10px;
    }
  </style>
</head>
<body>
  <canvas id="blur" width="1200" height="600"></canvas>
  <div class="control">
    <button id="resume">resume</button>
    <button id="box">方框模糊</button>
    <button id="gaussian">高斯模糊</button>
    <button id="tilt">镜头模糊</button>
    <button id="lris">镜头模糊 - 光圈</button>
    <button id="radial">径向模糊 - out</button>
    <button id="radialV2">径向模糊 - in</button>
  </div>

  <script src="/js/blur.js"></script>
</body>
</html>