<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="/js/field/sdf.js"></script>
  <title>Document</title>
  <style>
    html {
      background-color: aquamarine;
    }
    canvas {
      display: block;
      margin: 30px auto 10px;
    }
  </style>
</head>
<body>
  <canvas id="render" width="1000" height="400"></canvas>

  <script src="/js/field/field.js"></script>
</body>
</html>